@tailwind base;
@tailwind components;
@tailwind utilities;

/* for global styles */
@layer base {
    .loading {
        @apply 
        !bg-blue-400 /* important */
        hover:bg-blue-400 
        cursor-not-allowed 
    }
    .toggle {
        @apply 
        w-11 
        h-6 
        bg-gray-200 
        rounded-full 
        after:content-[''] 
        after:absolute 
        after:top-0.5 
        after:left-[2px] 
        after:bg-white 
        after:border-gray-300 
        after:border
        after:rounded-full 
        after:h-5 
        after:w-5 
        after:transition-all 
    }
    body {
        @apply text-center
    }
    p {
        @apply my-4
    }
    h1 {
        @apply text-3xl
    }
    h2 {
        @apply text-2xl
    }
    h3 {
        @apply text-xl
    }
    h4 {
        @apply text-lg
    }
    h1, h2, h3, h4 {
        @apply font-medium
    }
    a {
        @apply
        ml-auto 
        font-medium
        text-blue-700 
        hover:underline
    }
    nav {
        @apply
        bg-gray-50 
    }
    nav ul {
        @apply 
        flex 
        mt-0 
        mr-6 
        py-3 
        px-4
        space-x-8  
        font-medium
        justify-center
    }
    label {
        @apply
        block 
        mb-2 
        text-sm 
        font-medium 
        text-gray-900
    }
    button {
        @apply 
        py-2.5 
        px-5 
        w-full 
        font-medium 
        text-sm
        text-center 
        inline-flex 
        items-center
        text-white 
        !bg-blue-700 /* important */
        rounded-lg 
        hover:bg-blue-800 
        focus:ring-4 
        focus:outline-none 
        focus:ring-blue-300 
    }
    input {
        @apply 
        p-2.5
        text-sm 
        rounded-lg 
        w-full
        border
        bg-gray-50  
        border-gray-300 
        text-gray-900
    }
    label {
        @apply 
        block 
        mb-2 
        text-sm 
        font-medium 
        text-gray-900 
    }

}